* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.demo__video {
    position: relative;
    width: 512px;
    height: 512px;
}

.demo__video-renderer {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.demo__video-overlay {
    position: absolute;
    inset: var(--barcode-scanner-area-y) var(--barcode-scanner-area-x) auto auto;
    width: var(--barcode-scanner-area-width);
    height: var(--barcode-scanner-area-height);
    pointer-events: none;
    border: 2px dashed #fff;
    border-radius: 16px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    transition-property: inset, width, height;
}

.demo__control {
    display: flex;
    gap: 10px;
}

.demo__control-button {
    display: block;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    border: none;
    border-radius: 4px;
}

.demo__result-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
}

.demo__result-value {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}
